* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana;
	font-size: 13px;
	margin: 20px;
}

h1 {
	margin: 20px 0px;
}

h2 {
	margin: 20px 0px;
}

h3 {
	margin: 20px 0px;
}

hr {
	margin: 30px 0px;
}

p {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

	label em {
		font-weight: normal;
		color: #aaa;
		padding-left: 20px;
	}

#buttons button {
	width: 30px;
	height: 30px;
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 5px;
}

#buttons button:focus {
	outline: none;
}